# Ignore Pipfile.lock files unless version locking is specifically desired (create exception rules below this one)
Pipfile.lock


# Python Artifacts
*.py[cod]


# Build Artifacts
dist/
docs/_build/
*.egg-info/


# Test artifacts
.cache/
.pytest_cache/
