[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "*"
sphinx = "*"
bump2version = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"

[packages]
cizsle = {editable = true,path = "."}

[requires]
python_version = "3.6"
